@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
div {
    display: block;
    unicode-bidi: isolate;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

body {
    position: relative;
    min-width: 1400px;
    color: #000;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

.wrap{
	position: relative;
}

#header{
	border-bottom: solid 1px #cdcdcd !important;
	padding: 44px 0 0 0;
    font-size: 0;
    text-align: center;
    unicode-bidi: isolate;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

#container {
    position: relative;
}

.subpage {
    margin: 74px 0 0 0;
}

section{
	padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    unicode-bidi: isolate;
}

.subpage .contents {
    margin: 0 auto;
    width: 1400px;
}
.subpage .contents > h2 {
    padding: 0 0 45px 0;
    min-height: 60px;
    font-family: 'Noto-B';
    font-size: 40px;
    color: #ff7d9e;
    text-align: center;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    display: block;
}

.list-info-box {
    position: relative;
    margin: 0 0 28px 0;
    min-height: 19px;
}

.product-box {
    padding: 86px 0;
}

.product-box .box {
    max-width: 1400px;
    margin: 0 auto;
}

.product-box .box .item-wrap {
    max-width: 1410px;
    overflow: hidden;
}
.product-box .box .item {
    display: block;
    overflow-x: hidden;
    margin: 0 -17.5px;
    margin-bottom: -57px;
    font-size: 0;
}

ul {
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
.paging {
    font-size: 0;
    text-align: center;
    margin-top: 80px;
}
.paging > a {
    width: 16px;
    height: 16px;
    text-align: left;
    display: inline-block;
    margin: 0 10px;
    font-size: 15px;
    color: #39373a;
    vertical-align: middle;
}
.paging .first {
    background-position: 0 -17px;
}
.paging .prev {
    background-position: 0 -1px;
}
.paging .next {
    background-position: -16px -1px;
}
.paging .last {
    background-position: -16px -17px;
}


.product-box .box .item.rows li {
    width: 324px !important;
}

.product-box .box .item li {
    display: inline-block;
    padding-left: 2px;
    vertical-align: top;
    letter-spacing: 0;
    zoom: 1;
    font-size: 13px;
    margin: 0 16px;
    margin-bottom: 57px;
    outline: none;
}

li{
	text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.product-box .box .item.rows li .item-image {
    padding-bottom: 324px;
}

.product-box .box .item li .item-image {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.product-box .box .item li .item-image a {
    position: absolute;
    left: 2px;
    top: 0;
    width: 100%;
    height: 100%;
}

a {
	margin: 0;
    padding: 0;
    border: 0;
    color: inherit;
    text-decoration: none;
    font: inherit;
    vertical-align: baseline;
}

a:-webkit-any-link {
    cursor: pointer;
}

.product-box .box .item li .item-content {
    margin-top: 10px;
}

.product-box .box .item li .item-content .subject {
    white-space: nowrap !important;
}
.product-box .box .item li .item-content .subject {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
}

.product-box .box .item li .item-content .info {
    margin-bottom: 9px;
}

.product-box .box .item li .item-content .info .pull-left {
    color: #646464;
    font-weight: 500;
}

}
.product-box .box .item li .item-content .info .pull-left {
    float: left;
}

.product-box .box .item li .item-content .info > div {
    display: inline-block;
}

.product-box .box .item li .item-content .info .pull-left span:last-of-type {
    font-size: 16px;
    font-weight: bold;
    color: #010101;
    display: inline-block;
    margin-left: 3px;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
#header .top {
    height: 131px;
}
#header .top h1 {
    padding: 16px 0 0 0;
    min-height: 60px;
    font-family: 'Noto-B';
    font-size: 30px;
    color: #ff7d9e;
    text-align: center;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
#header .top > * {
    display: inline-block;
    vertical-align: middle;
}
#header .top .toplink {
    position: absolute;
    right: 50%;
    top: 8px;
    margin: 0 -600px 0 0;
    font-family: 'Noto-M';
}
#header .top .search {
    margin: 0 46px 0 42px;
    padding: 7px 0 0 0;
}
form {
    display: block;
    unicode-bidi: isolate;
}
#header .top .mymenu {
    height: 67px;
    padding: 14px 0 0 0;
}
#header .top .mymenu li:first-child {
    margin: 0;
}
#header .top .mymenu li {
    position: relative;
    float: left;
    font-size: 14px;
}
#header .top .mymenu .l2 {
    margin-left: 32px;
}
#header .top .mymenu li {
    position: relative;
    float: left;
    font-size: 14px;
    margin: 0 0 0 22px;
}

.login-btn {
    width: 53px;
    height: 20px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 11px;
    font-weight: 500;
    line-height: 20px;
}
.list-info-box .list-sort {
    position: absolute;
    right: 0;
    top: -30px;
}
.list-info-box .list-sort li {
    float: left;
    margin: 0 0 0 9px;
}
.list-info-box .list-sort .on a {
    color: #fff;
    background-position: 0 100%;
    background-color: #ff7d9e;
}
.list-info-box .list-sort li a {
    display: block;
    width: 83px;
    height: 27px;
    font-size: 14px;
    text-align: center;
    line-height: 27px;
    background: url(../image/sort_round.png) no-repeat 0 0;
}
fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}
#header .top .search .inform {
    position: relative;
    width: 363px;
    height: 44px;
    background: url(../img/common/header/search_bg.png) no-repeat 0 0;
}
#header .top .search .inform input {
    text-indent: 10px;
    padding: 0 70px 0 10px;
    width: 80%;
    height: 44px;
    font-size: 16px;
    background: none;
    font-family: 'Noto-M';
}

[class^="btn-"] {
    display: inline-block;
    line-height: 1;
    vertical-align: top;
    border: none;
    background: none;
}

button {
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    box-sizing: border-box;
    outline: 0;
    appearance: auto;
}
input{
	font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-stretch: ;
    font-size: ;
    font-optical-sizing: ;
    font-size-adjust: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
}
input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]) {
    overflow-clip-margin: 0px !important;
    overflow: clip !important;
}
input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
}
input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
}
#header .top .search .inform .btn-search {
    position: absolute;
    right: 0px;
    top: 0;
    width: 44px;
    height: 44px;
    text-align: left;
    text-indent: -9999px;
    background: url(../image/btn_search.png) no-repeat 50% 50%;
}
#header .bottom {
    height: 70px;
}
#header .bottom .menu {
    margin: 0 130px 0 0;
}
#header .bottom .btn-all, #header .bottom .menu, #header .bottom .cateogry {
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
}
#header .bottom .menu > li:first-child {
    margin: 0;
}
#header .bottom .menu > li {
    position: relative;
    float: left;
}
#header .bottom .menu > li > a {
    display: block;
    position: relative;
    padding: 0 8px;
    height: 34px;
    font-size: 16px;
    line-height: 32px;
    font-family: 'Noto-M';
    margin-left: 100px;
}
