.icon-bag:before {
    content: '\1F6CD';
    font-size: 50px;
}

.icon-card:before {
    content: '\1F4B3';
    font-size: 50px;
}

.icon-check:before {
    content: '\2714';
    font-size: 50px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.order-complete-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center; /* 텍스트를 가운데로 정렬 */
    color: #00e600; /* 텍스트 색상을 녹색으로 변경 */
    font-size: 40px;
    margin-bottom: 20px;
    position: relative; /* 빛 효과를 위해 위치 설정 */
    display: block;
    overflow: hidden; /* 빛 효과가 텍스트를 넘지 않도록 설정 */
    margin: 0 auto;
}

h1::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; /* 시작 위치를 텍스트 바깥에서 설정 */
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.8), transparent);
    animation: shine 2s infinite;
}

@keyframes shine {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

.cart-header {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.cart-step {
    text-align: center;
    margin: 0 20px;
    color: #999;
    font-weight: bold;
}

.cart-step.active {
    color: #000000;
}

.cart-step i {
    font-size: 50px;
    display: block;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}


h2 {
    margin-top: 30px;
    margin-bottom: 15px;
}

.order-summary {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.order-summary th, .order-summary td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.order-summary th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.total-amount {
    text-align: right;
    margin-top: 20px;
    font-size: 18px;
}

.total-amount strong {
    font-size: 24px;
    color: #000000;
}

.back-to-shop {
	font-family: Arial, sans-serif;
	display: flex;
    margin-top: 30px;
    padding: 15px 20px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 18px;
    width: 120px;
    cursor: pointer;
}

.back-to-shop:hover {
    background-color: #000000;
}