<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AddrMapper">
	<resultMap type="com.project.shop.user.vo.AddrVO" id="addrMap">
		<id property="addrNo" column="addr_no"/>
		<result property="addrUserEmail" column="addr_user_email"/>
		<result property="address" column="address"/>
		<result property="dAddrName" column="d_addr_name"/>
		<result property="addrUserName" column="addr_user_name"/>
		<result property="addrLandLine" column="addr_land_line"/>
		<result property="addrUserPhoneNum" column="addr_user_phone_num"/>
		<result property="addrFlag" column="addr_flag"/>
	</resultMap>
</mapper>