<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AnswerMapper">
	<resultMap type="com.project.shop.user.vo.AsnwerVO" id="asnwerMap">
		<id property="questionNo" column="question_no"/>
		<result property="answerBody" column="answer_body"/>
		<result property="answerDate" column="answer_date"/>
	</resultMap>
</mapper>