<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AskDetailMapper">
	<resultMap type="com.project.shop.progress.vo.AskDetailVO" id="askDetailMap">
		<id property="askDetailNo" column="ask_detail_no"/>
		<result property="askNo" column="ask_no"/>
		<result property="askDetailUser" column="ask_detail_user"/>
		<result property="computerNo" column="computer_no"/>
		<result property="peripheralNo" column="peripheral_no"/>
		<result property="optSsd" column="opt_ssd"/>
	    <result property="optHdd" column="opt_hdd"/>
	    <result property="optOs" column="opt_os"/>
		<result property="itemCount" column="item_count"/>
		<result property="itemCategory" column="item_category"/>
		<result property="computerTitle" column="computer_title"/>
		<result property="computerSalePrice" column="computer_sale_price"/>
		<result property="ssdPrice" column="ssd_price"/>
		<result property="hddPrice" column="hdd_price"/>
		<result property="osPrice" column="os_price"/>
		<result property="filePath" column="file_path"/>
		<result property="ssdName" column="ssd_name"/>
		<result property="hddName" column="hdd_name"/>
		<result property="osName" column="os_name"/>
		<result property="peripheralTitle" column="peripheral_title"/>
		<result property="peripheralSalePrice" column="peripheral_sale_price"/>
		<collection property="computers" ofType="com.project.shop.computer.vo.ComputerVO">
			<id property="computerNo" column="computer_no"/>
			<result property="computerTitle" column="computer_title"/>
			<result property="computerSalePrice" column="computer_sale_price"/>
			<result property="cpu" column="cpu"/>
			<result property="ssd" column="ssd"/>
			<result property="mainBoard" column="main_board"/>
			<result property="gpu" column="gpu"/>
			<result property="power" column="power"/>
			<result property="bCase" column="b_case"/>
			<result property="ram" column="ram"/>
			<result property="cooler" column="cooler"/>
			<result property="computerStock" column="computer_stock"/>
			<result property="computerOutFlag" column="computer_out_flag"/>
			<result property="computerSaleDate" column="computer_sale_date"/>
			<result property="computerCreateDate" column="computer_create_date"/>
		</collection>
		<collection property="peripherals" ofType="com.project.shop.computer.vo.PeripheralVO">
			<id property="peripheralNo" column="peripheral_no"/>
			<result property="peripheralCategory" column="peripheral_category"/>
			<result property="peripheralTitle" column="peripheral_title"/>
			<result property="peripheralName" column="peripheral_name"/>
			<result property="peripheralStock" column="peripheral_stock"/>
			<result property="peripheralSalePrice" column="peripheral_sale_price"/>
			<result property="peripheralOutFlag" column="peripheral_out_flag"/>
			<result property="peripheralSaleDate" column="peripheral_sale_date"/>
			<result property="peripheralCreateDate" column="peripheral_create_date"/>
		</collection>
		<collection property="files" ofType="com.project.shop.progress.vo.FileVO">
			<id property="fileNo" column="file_no"/>
			<result property="computerNo" column="computer_no"/>
			<result property="peripheralNo" column="peripheral_no"/>
			<result property="fileName" column="file_name"/>
			<result property="filePath" column="file_path"/>
			<result property="fileSize" column="file_size"/>
			<result property="itemCategory" column="item_category"/>
		</collection>
		<collection  property="opts" ofType="com.project.shop.computer.vo.OptVO">
			<id property="optNo" column="opt_no"/>
			<result property="optCategory" column="opt_category"/>
			<result property="optName" column="opt_name"/>
			<result property="optStock" column="opt_stock"/>
			<result property="optSalePrice" column="opt_sale_price"/>
			<result property="optOutFlag" column="opt_out_flag"/>
			<result property="optSaleDate" column="opt_sale_date"/>
		</collection>
		<collection property="asks" ofType="com.project.shop.progress.vo.AskVO" >
			<id property="askNo" column="ask_no"/>
			<result property="askUser" column="ask_user"/>
			<result property="askDate" column="ask_date"/>
			<result property="askStateFlag" column="ask_state_flag"/>
			<result property="askDeleteFlag" column="ask_delete_flag"/>
		</collection>
		<collection property="reviews" ofType="com.project.shop.user.vo.ReviewVO">
			<id property="reviewNo" column="review_no"/>
			<result property="reviewUser" column="review_user"/>
			<result property="computerNo" column="computer_no"/>
			<result property="peripheralNo" column="peripheral_no"/>
			<result property="reviewBody" column="review_body"/>
			<result property="reviewCreateDate" column="review_create_date"/>
			<result property="itemCategory" column="item_category"/>
		</collection>
	</resultMap>
	
	<select id="getAskDetailsByAskNo" resultMap="askDetailMap">
	    SELECT ad.*, c.computer_title, c.computer_sale_price, p.peripheral_title, p.peripheral_sale_price
	    FROM ask_detail ad
	    LEFT JOIN computer c ON ad.computer_no = c.computer_no
	    LEFT JOIN peripheral p ON ad.peripheral_no = p.peripheral_no
	    WHERE ad.ask_no = #{askNo}
	</select>
	
	<!-- 주문 상세입력-->
    <insert id="completePay" parameterType="com.project.shop.progress.vo.AskDetailVO">
        INSERT INTO ask_detail (ask_no, ask_detail_user, computer_no, peripheral_no, opt_ssd, opt_hdd, opt_os, item_count, item_category)
        VALUES (#{askNo}, #{askDetailUser}, #{computerNo}, #{peripheralNo}, #{optSsd}, #{optHdd}, #{optOs}, #{itemCount}, #{itemCategory})
    </insert>
    
    <insert id="computerBuy" parameterType="com.project.shop.progress.vo.AskDetailVO">
    	insert into ask_detail(ask_no, ask_detail_user, computer_no, opt_ssd, opt_hdd, opt_os, item_count, item_category)
    				values(#{askNo},#{askDetailUser},#{computerNo},#{optSsd},#{optHdd},#{optOs},1,1)
    </insert>
    
    <select id="computerBuySelect" resultMap="askDetailMap" parameterType="com.project.shop.progress.vo.AskDetailVO">
    	select *, 
    	(select computer_title from computer where computer.computer_no = #{computerNo}) as computer_title,
    	(select computer_sale_price from computer where computer.computer_no = #{computerNo}) as computer_sale_price,
   		(select opt_name from opt where opt.opt_no = #{optSsd} and opt_category = 0) as ssd_name,
   		(select opt_sale_price from opt where opt.opt_no = #{optSsd} and opt_category = 0) as ssd_price,
   		(select opt_name from opt where opt.opt_no = #{optHdd} and opt_category = 1) as hdd_name,
   		(select opt_sale_price from opt where opt.opt_no = #{optHdd} and opt_category = 1) as hdd_price,
   		(select opt_name from opt where opt.opt_no = #{optOs} and opt_category = 2) as os_name,
   		(select opt_sale_price from opt where opt.opt_no = #{optOs} and opt_category = 2) as os_price,
    	(select file_path from file where file.computer_no = #{computerNo}) as file_path
    	from ask_detail 
    	where ask_detail.ask_no = #{askNo};
    </select>
    
    <select id="orderCompleteComputer" resultMap="askDetailMap" parameterType="com.project.shop.progress.vo.AskDetailVO">
    	select *, 
    	(select computer_title from computer where computer.computer_no = ask_detail.computer_no) as computer_title,
    	(select computer_sale_price from computer where computer.computer_no = ask_detail.computer_no) as computer_sale_price,
   		(select opt_name from opt where opt.opt_no = ask_detail.opt_ssd and opt_category = 0) as ssd_name,
   		(select opt_sale_price from opt where opt.opt_no = ask_detail.opt_ssd and opt_category = 0) as ssd_price,
   		(select opt_name from opt where opt.opt_no = ask_detail.opt_hdd and opt_category = 1) as hdd_name,
   		(select opt_sale_price from opt where opt.opt_no = ask_detail.opt_hdd and opt_category = 1) as hdd_price,
   		(select opt_name from opt where opt.opt_no = ask_detail.opt_os and opt_category = 2) as os_name,
   		(select opt_sale_price from opt where opt.opt_no = ask_detail.opt_os and opt_category = 2) as os_price,
    	(select file_path from file where file.computer_no = ask_detail.computer_no) as file_path
    	from ask_detail 
    	where ask_detail.ask_no = #{askNo} and ask_detail.ask_detail_user = #{askDetailUser};
    </select>
    
    <insert id="peripheralBuy" parameterType="com.project.shop.progress.vo.AskDetailVO">
    	insert into ask_detail(ask_no, ask_detail_user, peripheral_no, item_count, item_category)
    				values(#{askNo},#{askDetailUser},#{peripheralNo},1,2)
    </insert>
    
    <select id="peripheralBuySelect" resultMap="askDetailMap" parameterType="com.project.shop.progress.vo.AskDetailVO">
    	select *, 
    	(select peripheral_title from peripheral where peripheral.peripheral_no = #{peripheralNo}) as peripheral_title,
    	(select peripheral_sale_price from peripheral where peripheral.peripheral_no = #{peripheralNo}) as peripheral_sale_price,
    	(select file_path from file where file.peripheral_no = #{peripheralNo}) as file_path
    	from ask_detail 
    	where ask_detail.ask_no = #{askNo};
    </select>
    
    <select id="orderCompletePeripheral" resultMap="askDetailMap" parameterType="com.project.shop.progress.vo.AskDetailVO">
    	select *, 
    	(select peripheral_title from peripheral where peripheral.peripheral_no = ask_detail.peripheral_no) as peripheral_title,
    	(select peripheral_sale_price from peripheral where peripheral.peripheral_no = ask_detail.peripheral_no) as peripheral_sale_price,
    	(select file_path from file where file.peripheral_no = ask_detail.peripheral_no) as file_path
    	from ask_detail 
    	where ask_detail.ask_no = #{askNo} and ask_detail.ask_detail_user = #{askDetailUser};
    </select>
    
    <!-- 특정유저 하루 주문내역 개수 조회 쿼리 -->
    <select id="mydaycount" resultType="int">
		select count(*) from ask_detail d 
			left join ask a on d.ask_no = a.ask_no 
		<where>
			and a.ask_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 DAY ) AND NOW()
			and a.ask_state_flag > 0
			and a.ask_delete_flag = 0
			and d.ask_detail_user = #{email};
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
	 <!-- 특정유저 일주일 주문내역 개수 조회 쿼리 -->
	<select id="myweekcount" resultType="int">
		select count(*) from ask_detail d 
			left join ask a on d.ask_no = a.ask_no 
		<where>
			and a.ask_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 WEEK ) AND NOW()
			and a.ask_state_flag > 0
			and a.ask_delete_flag = 0
			and d.ask_detail_user = #{email};
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
	
	 <!-- 특정유저 한달 주문내역 개수 조회 쿼리 -->
	<select id="myMonthcount" resultType="int">
		select count(*) from ask_detail d 
			left join ask a on d.ask_no = a.ask_no 
		<where>
			and a.ask_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 MONTH ) AND NOW()
			and a.ask_state_flag > 0
			and a.ask_delete_flag = 0
			and d.ask_detail_user = #{email};
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
	
	 <!-- 특정유저 세달 주문내역 개수 조회 쿼리 -->
	<select id="myThreeMonthcount" resultType="int">
		select count(*) from ask_detail d 
			left join ask a on d.ask_no = a.ask_no 
		<where>
			and a.ask_date BETWEEN DATE_ADD(NOW(), INTERVAL -3 MONTH ) AND NOW()
			and a.ask_state_flag > 0
			and a.ask_delete_flag = 0
			and d.ask_detail_user = #{email};
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
	
	 <!-- 특정유저 여섯달 주문내역 개수 조회 쿼리 -->
	<select id="mySixMonthcount" resultType="int">
		select count(*) from ask_detail d 
			left join ask a on d.ask_no = a.ask_no 
		<where>
			and a.ask_date BETWEEN DATE_ADD(NOW(), INTERVAL -6 MONTH ) AND NOW()
			and a.ask_state_flag > 0
			and a.ask_delete_flag = 0
			and d.ask_detail_user = #{email};
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
    
    <!-- 특정유저 하루 주문내역 조회 쿼리 -->
    <select id="myOnedate" resultMap="askDetailMap">
		select  *,
			(select opt_name from opt where d.opt_ssd = opt.opt_no) as ssd_name,
			(select opt_name from opt where d.opt_hdd = opt.opt_no) as hdd_name,
			(select opt_name from opt where d.opt_os = opt.opt_no) as os_name
			from ask_detail d 
			left join ask a on d.ask_no = a.ask_no 
			left join computer c on d.computer_no = c.computer_no 
			left join peripheral p on d.peripheral_no = p.peripheral_no 
			left join file f on d.computer_no = f.computer_no or d.peripheral_no = f.peripheral_no
			left join review r on d.computer_no = r.computer_no or d.peripheral_no = r.peripheral_no
			where a.ask_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 DAY ) AND NOW() and d.ask_detail_user = #{email}
			and a.ask_state_flag > 0
			and a.ask_delete_flag = 0
			order by d.ask_no desc limit #{offset}, #{limit};
	</select>
	
	<!-- 특정유저 일주일 주문내역 조회 쿼리 -->
	 <select id="myOneweek" resultMap="askDetailMap">
		select  *,
			(select opt_name from opt where d.opt_ssd = opt.opt_no) as ssd_name,
			(select opt_name from opt where d.opt_hdd = opt.opt_no) as hdd_name,
			(select opt_name from opt where d.opt_os = opt.opt_no) as os_name
			from ask_detail d 
			left join ask a on d.ask_no = a.ask_no 
			left join computer c on d.computer_no = c.computer_no 
			left join peripheral p on d.peripheral_no = p.peripheral_no 
			left join file f on d.computer_no = f.computer_no or d.peripheral_no = f.peripheral_no 
			where a.ask_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 WEEK ) AND NOW() and d.ask_detail_user = #{email}
			and a.ask_state_flag > 0
			and a.ask_delete_flag = 0
			order by d.ask_no desc limit #{offset}, #{limit};
	</select>
	
	<!-- 특정유저 한달 주문내역 조회 쿼리 -->
	 <select id="myOnemonth" resultMap="askDetailMap">
		select  *,
			(select opt_name from opt where d.opt_ssd = opt.opt_no) as ssd_name,
			(select opt_name from opt where d.opt_hdd = opt.opt_no) as hdd_name,
			(select opt_name from opt where d.opt_os = opt.opt_no) as os_name
			from ask_detail d 
			left join ask a on d.ask_no = a.ask_no 
			left join computer c on d.computer_no = c.computer_no 
			left join peripheral p on d.peripheral_no = p.peripheral_no 
			left join file f on d.computer_no = f.computer_no or d.peripheral_no = f.peripheral_no 
			where a.ask_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 MONTH ) AND NOW() and d.ask_detail_user = #{email}
			and a.ask_state_flag > 0
			and a.ask_delete_flag = 0
			order by d.ask_no desc limit #{offset}, #{limit};
	</select>
	
	<!-- 특정유저 세달 주문내역 조회 쿼리 -->
	<select id="myThreemonth" resultMap="askDetailMap">
		select  *,
			(select opt_name from opt where d.opt_ssd = opt.opt_no) as ssd_name,
			(select opt_name from opt where d.opt_hdd = opt.opt_no) as hdd_name,
			(select opt_name from opt where d.opt_os = opt.opt_no) as os_name
			from ask_detail d 
			left join ask a on d.ask_no = a.ask_no 
			left join computer c on d.computer_no = c.computer_no 
			left join peripheral p on d.peripheral_no = p.peripheral_no 
			left join file f on d.computer_no = f.computer_no or d.peripheral_no = f.peripheral_no 
			where a.ask_date BETWEEN DATE_ADD(NOW(), INTERVAL -3 MONTH ) AND NOW() and d.ask_detail_user = #{email}
			and a.ask_state_flag > 0
			and a.ask_delete_flag = 0
			order by d.ask_no desc limit #{offset}, #{limit};
	</select>
	
	<!-- 특정유저 여섯달 주문내역 조회 쿼리 -->
	<select id="mySixmonth" resultMap="askDetailMap">
		select  *,
			(select opt_name from opt where d.opt_ssd = opt.opt_no) as ssd_name,
			(select opt_name from opt where d.opt_hdd = opt.opt_no) as hdd_name,
			(select opt_name from opt where d.opt_os = opt.opt_no) as os_name from ask_detail d 
			left join ask a on d.ask_no = a.ask_no 
			left join computer c on d.computer_no = c.computer_no 
			left join peripheral p on d.peripheral_no = p.peripheral_no 
			left join file f on d.computer_no = f.computer_no or d.peripheral_no = f.peripheral_no 
			where a.ask_date BETWEEN DATE_ADD(NOW(), INTERVAL -6 MONTH ) AND NOW() and d.ask_detail_user = #{email}
			and a.ask_state_flag > 0
			and a.ask_delete_flag = 0
			order by d.ask_no desc limit #{offset}, #{limit};
	</select>
	
	<select id="askAll" resultMap="askDetailMap">		
			select *,
			(select opt_name from opt where ask_detail.opt_ssd = opt.opt_no) as ssd_name,
			(select opt_name from opt where ask_detail.opt_hdd = opt.opt_no) as hdd_name,
			(select opt_name from opt where ask_detail.opt_os = opt.opt_no) as os_name,
			(select opt_sale_price from opt where opt.opt_no = ask_detail.opt_ssd and opt_category = 0) as ssd_price,
			(select opt_sale_price from opt where opt.opt_no = ask_detail.opt_hdd and opt_category = 1) as hdd_price,
			(select opt_sale_price from opt where opt.opt_no = ask_detail.opt_os and opt_category = 2) as os_price
			 from ask_detail
				left join ask on ask_detail.ask_no = ask.ask_no
				left join computer c on ask_detail.computer_no = c.computer_no
				left join peripheral p on ask_detail.peripheral_no = p.peripheral_no
				left join file f on ask_detail.computer_no = f.computer_no or ask_detail.peripheral_no = f.peripheral_no
		<where>
			and ask_state_flag >0 
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
		order by ask.ask_no desc
		limit #{offset}, #{limit}
	</select>
	<!-- 주문 전체 개수 조회 -->
	<select id="count" resultType="int">
		select count(*) from ask_detail
		left join ask on ask_detail.ask_no = ask.ask_no
		<where>
			and ask_state_flag >0 
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%') 
			</if>
		</where>
	</select>
	
	<select id="deliveryAll" resultMap="askDetailMap">
		select *,
			(select opt_name from opt where ask_detail.opt_ssd = opt.opt_no) as ssd_name,
			(select opt_name from opt where ask_detail.opt_hdd = opt.opt_no) as hdd_name,
			(select opt_name from opt where ask_detail.opt_os = opt.opt_no) as os_name,
			(select opt_sale_price from opt where opt.opt_no = ask_detail.opt_ssd and opt_category = 0) as ssd_price,
			(select opt_sale_price from opt where opt.opt_no = ask_detail.opt_hdd and opt_category = 1) as hdd_price,
			(select opt_sale_price from opt where opt.opt_no = ask_detail.opt_os and opt_category = 2) as os_price
			 from ask_detail 
				left join ask on ask_detail.ask_no =ask.ask_no
				left join computer c on ask_detail.computer_no = c.computer_no
				left join peripheral p on ask_detail.peripheral_no = p.peripheral_no
				left join file f on ask_detail.computer_no = f.computer_no or ask_detail.peripheral_no =f.peripheral_no
		<!-- where 태그 쓸 때는 where가 있다 생각하고 and부터 쓴다 -->
		<where>
			and ask_state_flag > 0 and  ask_state_flag !=4
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%') and
			</if>
		</where>
		order by ask.ask_no desc
		limit #{offset}, #{limit}
	</select>
	
	<select id="deliveryCount" resultType="int">
		select count(*) from ask_detail
		left join ask on ask_detail.ask_no =ask.ask_no
		<where>
			and ask_state_flag > 0 and  ask_state_flag !=4
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%') 
			</if>
		</where>
	</select>
	
	<!-- 특정유저 하루 취소 내역 개수 조회 쿼리 -->
	<select id="mydayCancelcount" resultType="int">
		select count(*) from ask_detail d 
			left join ask a on d.ask_no = a.ask_no 
		<where>
			and a.ask_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 DAY ) AND NOW()
			and a.ask_delete_flag >= 1
			and d.ask_detail_user = #{email};
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
	
	<!-- 특정유저 일주일 취소 내역 개수 조회 쿼리 -->
	<select id="myweekCancelcount" resultType="int">
		select count(*) from ask_detail d 
			left join ask a on d.ask_no = a.ask_no 
		<where>
			and a.ask_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 WEEK ) AND NOW()
			and a.ask_delete_flag >= 1
			and d.ask_detail_user = #{email};
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
	
	<!-- 특정유저 한달 취소 내역 개수 조회 쿼리 -->
	<select id="mymonthCancelcount" resultType="int">
		select count(*) from ask_detail d 
			left join ask a on d.ask_no = a.ask_no 
		<where>
			and a.ask_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 MONTH ) AND NOW()
			and a.ask_delete_flag >= 1
			and d.ask_detail_user = #{email};
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
	
	<!-- 특정유저 세달 취소 내역 개수 조회 쿼리 -->
	<select id="myThreemonthCancelcount" resultType="int">
		select count(*) from ask_detail d 
			left join ask a on d.ask_no = a.ask_no 
		<where>
			and a.ask_date BETWEEN DATE_ADD(NOW(), INTERVAL -3 MONTH ) AND NOW()
			and a.ask_delete_flag >= 1
			and d.ask_detail_user = #{email};
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
	
	<!-- 특정유저 6달 취소 내역 개수 조회 쿼리 -->
	<select id="mySixmonthCancelcount" resultType="int">
		select count(*) from ask_detail d 
			left join ask a on d.ask_no = a.ask_no 
		<where>
			and a.ask_date BETWEEN DATE_ADD(NOW(), INTERVAL -6 MONTH ) AND NOW()
			and a.ask_delete_flag >= 1
			and d.ask_detail_user = #{email};
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
	
	<!-- 특정유저 하루 취소 주문내역 조회 쿼리 -->
    <select id="myOnecanceldate" resultMap="askDetailMap">
		select  *,
			(select opt_name from opt where d.opt_ssd = opt.opt_no) as ssd_name,
			(select opt_name from opt where d.opt_hdd = opt.opt_no) as hdd_name,
			(select opt_name from opt where d.opt_os = opt.opt_no) as os_name
			from ask_detail d 
			left join ask a on d.ask_no = a.ask_no 
			left join computer c on d.computer_no = c.computer_no 
			left join peripheral p on d.peripheral_no = p.peripheral_no 
			left join file f on d.computer_no = f.computer_no or d.peripheral_no = f.peripheral_no
			left join review r on d.computer_no = r.computer_no or d.peripheral_no = r.peripheral_no
			where a.ask_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 DAY ) AND NOW() and d.ask_detail_user = #{email}
			and a.ask_delete_flag >= 1
			order by d.ask_no desc limit #{offset}, #{limit};
	</select>
	
	<!-- 특정유저 일주일 취소 주문내역 조회 쿼리 -->
    <select id="myOnecancelweek" resultMap="askDetailMap">
		select  *,
			(select opt_name from opt where d.opt_ssd = opt.opt_no) as ssd_name,
			(select opt_name from opt where d.opt_hdd = opt.opt_no) as hdd_name,
			(select opt_name from opt where d.opt_os = opt.opt_no) as os_name
			from ask_detail d 
			left join ask a on d.ask_no = a.ask_no 
			left join computer c on d.computer_no = c.computer_no 
			left join peripheral p on d.peripheral_no = p.peripheral_no 
			left join file f on d.computer_no = f.computer_no or d.peripheral_no = f.peripheral_no
			left join review r on d.computer_no = r.computer_no or d.peripheral_no = r.peripheral_no
			where a.ask_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 WEEK ) AND NOW() and d.ask_detail_user = #{email}
			and a.ask_delete_flag >= 1
			order by d.ask_no desc limit #{offset}, #{limit};
	</select>
	
	<!-- 특정유저 한달 취소 주문내역 조회 쿼리 -->
    <select id="myOnemonthcancel" resultMap="askDetailMap">
		select  *,
			(select opt_name from opt where d.opt_ssd = opt.opt_no) as ssd_name,
			(select opt_name from opt where d.opt_hdd = opt.opt_no) as hdd_name,
			(select opt_name from opt where d.opt_os = opt.opt_no) as os_name
			from ask_detail d 
			left join ask a on d.ask_no = a.ask_no 
			left join computer c on d.computer_no = c.computer_no 
			left join peripheral p on d.peripheral_no = p.peripheral_no 
			left join file f on d.computer_no = f.computer_no or d.peripheral_no = f.peripheral_no
			left join review r on d.computer_no = r.computer_no or d.peripheral_no = r.peripheral_no
			where a.ask_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 MONTH ) AND NOW() and d.ask_detail_user = #{email}
			and a.ask_delete_flag >= 1
			order by d.ask_no desc limit #{offset}, #{limit};
	</select>
	
	<!-- 특정유저 세달 취소 주문내역 조회 쿼리 -->
    <select id="myThreemonthcancel" resultMap="askDetailMap">
		select  *,
			(select opt_name from opt where d.opt_ssd = opt.opt_no) as ssd_name,
			(select opt_name from opt where d.opt_hdd = opt.opt_no) as hdd_name,
			(select opt_name from opt where d.opt_os = opt.opt_no) as os_name
			from ask_detail d 
			left join ask a on d.ask_no = a.ask_no 
			left join computer c on d.computer_no = c.computer_no 
			left join peripheral p on d.peripheral_no = p.peripheral_no 
			left join file f on d.computer_no = f.computer_no or d.peripheral_no = f.peripheral_no
			left join review r on d.computer_no = r.computer_no or d.peripheral_no = r.peripheral_no
			where a.ask_date BETWEEN DATE_ADD(NOW(), INTERVAL -3 MONTH ) AND NOW() and d.ask_detail_user = #{email}
			and a.ask_delete_flag >= 1
			order by d.ask_no desc limit #{offset}, #{limit};
	</select>
	
	<!-- 특정유저 6달 취소 주문내역 조회 쿼리 -->
    <select id="mySixmonthcancel" resultMap="askDetailMap">
		select  *,
			(select opt_name from opt where d.opt_ssd = opt.opt_no) as ssd_name,
			(select opt_name from opt where d.opt_hdd = opt.opt_no) as hdd_name,
			(select opt_name from opt where d.opt_os = opt.opt_no) as os_name
			from ask_detail d 
			left join ask a on d.ask_no = a.ask_no 
			left join computer c on d.computer_no = c.computer_no 
			left join peripheral p on d.peripheral_no = p.peripheral_no 
			left join file f on d.computer_no = f.computer_no or d.peripheral_no = f.peripheral_no
			left join review r on d.computer_no = r.computer_no or d.peripheral_no = r.peripheral_no
			where a.ask_date BETWEEN DATE_ADD(NOW(), INTERVAL -6 MONTH ) AND NOW() and d.ask_detail_user = #{email}
			and a.ask_delete_flag >= 1
			order by d.ask_no desc limit #{offset}, #{limit};
	</select>
</mapper>