<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AskMapper">
	<resultMap type="com.project.shop.progress.vo.AskVO" id="askMap">
		<id property="askNo" column="ask_no"/>
		<result property="askUser" column="ask_user"/>
		<result property="askDate" column="ask_date"/>
		<result property="askStateFlag" column="ask_state_flag"/>
		<result property="askDeleteFlag" column="ask_delete_flag"/>
		<result property="ssdName" column="ssd_name"/>
		<result property="hddName" column="hdd_name"/>
		<result property="osName" column="os_name"/>
		<result property="ssdPrice" column="ssd_price"/>
		<result property="hddPrice" column="hdd_price"/>
		<result property="osPrice" column="os_price"/>
		<collection property="askDetails" ofType="com.project.shop.progress.vo.AskDetailVO" >
			<id property="askDetailNo" column="ask_detail_no"/>
			<result property="askNo" column="ask_no"/>
			<result property="askDetailUser" column="ask_detail_user"/>
			<result property="computerNo" column="computer_no"/>
			<result property="peripheralNo" column="peripheral_no"/>
			<result property="optSsd" column="opt_ssd"/>
		    <result property="optHdd" column="opt_hdd"/>
		    <result property="optOs" column="opt_os"/>
			<result property="itemCount" column="item_count"/>
			<result property="itemCategory" column="item_category"/>
		</collection>
		<collection property="files" ofType="com.project.shop.progress.vo.FileVO">
			<id property="fileNo" column="file_no"/>
			<result property="computerNo" column="computer_no"/>
			<result property="peripheralNo" column="peripheral_no"/>
			<result property="fileName" column="file_name"/>
			<result property="filePath" column="file_path"/>
			<result property="fileSize" column="file_size"/>
			<result property="itemCategory" column="item_category"/>
		</collection>
		<collection property="computers" ofType="com.project.shop.computer.vo.ComputerVO">
			<id property="computerNo" column="computer_no"/>
			<result property="computerTitle" column="computer_title"/>
			<result property="computerSalePrice" column="computer_sale_price"/>
			<result property="cpu" column="cpu"/>
			<result property="ssd" column="ssd"/>
			<result property="mainBoard" column="main_board"/>
			<result property="gpu" column="gpu"/>
			<result property="power" column="power"/>
			<result property="bCase" column="b_case"/>
			<result property="ram" column="ram"/>
			<result property="cooler" column="cooler"/>
			<result property="computerStock" column="computer_stock"/>
			<result property="computerOutFlag" column="computer_out_flag"/>
			<result property="computerSaleDate" column="computer_sale_date"/>
			<result property="computerCreateDate" column="computer_create_date"/>
		</collection>
		<collection property="peripherals" ofType="com.project.shop.computer.vo.PeripheralVO">
			<id property="peripheralNo" column="peripheral_no"/>
			<result property="peripheralCategory" column="peripheral_category"/>
			<result property="peripheralTitle" column="peripheral_title"/>
			<result property="peripheralName" column="peripheral_name"/>
			<result property="peripheralStock" column="peripheral_stock"/>
			<result property="peripheralSalePrice" column="peripheral_sale_price"/>
			<result property="peripheralOutFlag" column="peripheral_out_flag"/>
			<result property="peripheralSaleDate" column="peripheral_sale_date"/>
			<result property="peripheralCreateDate" column="peripheral_create_date"/>
		</collection>
	</resultMap>
	
	<!-- 주문 입력 -->
    <insert id="completePay" useGeneratedKeys="true" keyProperty="askNo" parameterType="com.project.shop.progress.vo.AskVO">
        INSERT INTO ask (ask_user, ask_state_flag, ask_delete_flag)
        VALUES (#{askUser}, 1, 0)
    </insert>
    
    <select id="getAskById" resultType="com.project.shop.progress.vo.AskVO">
        SELECT * 
        FROM ask
        WHERE ask_no = #{askNo}
    </select>
    
    <select id="selectlastone" resultType="com.project.shop.progress.vo.AskVO">
    	SELECT * 
        FROM ask
       	order by ask_no DESC LIMIT 0,1;
    </select>

	<!-- 주문을 전체 조회 -->
	<select id="askAll" resultMap="askMap">		
			select *,
			(select opt_name from opt where detail.opt_ssd = opt.opt_no) as ssd_name,
			(select opt_name from opt where detail.opt_hdd = opt.opt_no) as hdd_name,
			(select opt_name from opt where detail.opt_os = opt.opt_no) as os_name,
			(select opt_sale_price from opt where opt.opt_no = detail.opt_ssd and opt_category = 0) as ssd_price,
			(select opt_sale_price from opt where opt.opt_no = detail.opt_hdd and opt_category = 1) as hdd_price,
			(select opt_sale_price from opt where opt.opt_no = detail.opt_os and opt_category = 2) as os_price
			 from ask 
				left join ask_detail detail on ask.ask_no = detail.ask_no
				left join computer c on detail.computer_no = c.computer_no
				left join peripheral p on detail.peripheral_no = p.peripheral_no
				left join file f on detail.computer_no = f.computer_no
		<where>
			and ask_state_flag >0 
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
		order by ask.ask_no desc
		limit #{offset}, #{limit}
	</select>
	<!-- 주문 전체 개수 조회 -->
	<select id="count" resultType="int">
		select count(*) from ask
		<where>
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%') 
			</if>
		</where>
	</select>
	
	<select id="myOnedate" resultMap="askMap">
		SELECT * FROM ask WHERE ask_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 DAY ) AND NOW();
	</select>
	
	<select id="computerPost" resultMap="askMap">
		select ask_user from ask left join ask_detail on ask.ask_no = ask_detail.ask_no where ask_detail.computer_no = #{computerNo} and ask.ask_state_flag = 4
	</select>
	
	<select id="peripheralPost" resultMap="askMap">
		select ask_user from ask left join ask_detail on ask.ask_no = ask_detail.ask_no where ask_detail.peripheral_no = #{peripheralNo} and ask.ask_state_flag = 4
	</select>
	
	<insert id="computerBuy" useGeneratedKeys="true" keyProperty="askNo" parameterType="com.project.shop.progress.vo.AskVO">
		insert into ask(ask_user, ask_state_flag, ask_delete_flag) values(#{askUser}, 0, 0);
	</insert>
	
	<select id="computerBuySelect" resultMap="askMap" parameterType="com.project.shop.progress.vo.AskVO">
		select * from ask where ask_no = #{askNo}
	</select>
	
	<update id="completeComputerBuy" parameterType="com.project.shop.progress.vo.AskVO">
		update ask set ask_state_flag = 1 where ask_no = #{askNo}
	</update>
	
	<insert id="peripheralBuy" useGeneratedKeys="true" keyProperty="askNo" parameterType="com.project.shop.progress.vo.AskVO">
		insert into ask(ask_user, ask_state_flag, ask_delete_flag) values(#{askUser}, 0, 0);
	</insert>
	
	<select id="peripheralBuySelect" resultMap="askMap" parameterType="com.project.shop.progress.vo.AskVO">
		select * from ask where ask_no = #{askNo}
	</select>
	
	<update id="completePeripheralBuy" parameterType="com.project.shop.progress.vo.AskVO">
		update ask set ask_state_flag = 1 where ask_no = #{askNo}
	</update>
	
	<!-- 구매확정으로 업데이트 하는 쿼리 -->
	<update id="buyOk" parameterType="com.project.shop.progress.vo.AskVO">
		update ask set ask_state_flag = 4 where ask_no = #{askNo}
	</update>
	
	<update id="askStateModify" parameterType="com.project.shop.progress.vo.AskVO">
		update ask set ask_state_flag = 2 where ask_no= #{askNo} 
	</update>
	
	<update id="deliveryComplete" parameterType="com.project.shop.progress.vo.AskVO">
		update ask set ask_state_flag = 3 where ask_no= #{askNo} 
	</update>
	
	<update id="cancelOk">
		update ask set ask_delete_flag = 1 where ask_no = #{askNo}
	</update>
	
	<update id="changeOk">
		update ask set ask_delete_flag = 2 where ask_no = #{askNo}
	</update>
</mapper>