<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AskMapper">
	<resultMap type="com.project.shop.progress.vo.AskVO" id="askMap">
		<id property="askNo" column="ask_no"/>
		<result property="askUser" column="ask_user"/>
		<result property="askDate" column="ask_date"/>
		<result property="askStateFlag" column="ask_state_flag"/>
		<result property="askDeleteFlag" column="ask_delete_flag"/>
		<collection property="askDetails" ofType="com.project.shop.progress.vo.AskDetailVO" >
			<id property="askDetailNo" column="ask_detail_no"/>
			<result property="askNo" column="ask_no"/>
			<result property="askDetailUser" column="ask_detail_user"/>
			<result property="computerNo" column="computer_no"/>
			<result property="peripheralNo" column="peripheral_no"/>
			<result property="optNo" column="opt_no"/>
			<result property="itemCount" column="item_count"/>
			<result property="itemCategory" column="item_category"/>
		</collection>
	</resultMap>
	
	<!-- 주문 입력 -->
    <insert id="insertAsk" useGeneratedKeys="true" keyProperty="askNo">
        INSERT INTO ask (ask_user, ask_date, ask_state_flag, ask_delete_flag)
        VALUES (#{askUser}, now(), 0,0)
    </insert>

	<!-- 주문을 전체 조회 -->
	<select id="askAll" resultMap="askMap">		
		select * from ask
				<!-- where 태그 쓸 때는 where가 있다 생각하고 and부터 쓴다 -->
		<where>
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
		order by ask_no desc
		limit #{offset}, #{limit}
	</select>
	<!-- 주문 전체 개수 조회 -->
	<select id="count" resultType="int">
		select count(*) from ask
		<where>
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
	
	<select id="myOnedate" resultMap="askMap">
		SELECT * FROM ask WHERE ask_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 DAY ) AND NOW();
	</select>
	
	<select id="computerPost" parameterType="int" resultMap="askMap">
		select ask_user from ask left join ask_detail on ask.ask_no = ask_detail.ask_no where ask_detail.computer_no = #{computerNo} and ask.ask_state_flag = 2
	</select>
	
	<select id="peripheralPost" parameterType="int" resultMap="askMap">
		select ask_user from ask left join ask_detail on ask.ask_no = ask_detail.ask_no where ask_detail.computer_no = #{peripheralNo} and ask.ask_state_flag = 2
	</select>
</mapper>