<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AskMapper">
	<resultMap type="com.project.shop.progress.vo.AskVO" id="askMap">
		<id property="askNo" column="ask_no"/>
		<result property="askUser" column="ask_user"/>
		<result property="askDate" column="ask_date"/>
		<result property="askStateFlag" column="ask_state_flag"/>
		<result property="askDeleteFlag" column="ask_delete_flag"/>
		<collection property="askDetails" ofType="com.project.shop.progress.vo.AskDetailVO" >
			<id property="askDetailNo" column="ask_detail_no"/>
			<result property="askNo" column="ask_no"/>
			<result property="askDetailUser" column="ask_detail_user"/>
			<result property="computerNo" column="computer_no"/>
			<result property="peripheralNo" column="peripheral_no"/>
			<result property="optSsd" column="opt_ssd"/>
		    <result property="optHdd" column="opt_hdd"/>
		    <result property="optOs" column="opt_os"/>
			<result property="itemCount" column="item_count"/>
			<result property="itemCategory" column="item_category"/>
		</collection>
		<collection property="files" ofType="com.project.shop.progress.vo.FileVO">
			<id property="fileNo" column="file_no"/>
			<result property="computerNo" column="computer_no"/>
			<result property="peripheralNo" column="peripheral_no"/>
			<result property="fileName" column="file_name"/>
			<result property="filePath" column="file_path"/>
			<result property="fileSize" column="file_size"/>
			<result property="itemCategory" column="item_category"/>
		</collection>
	</resultMap>
	
	<!-- 주문 입력 -->
    <insert id="insertAsk" useGeneratedKeys="true" keyProperty="askNo">
        INSERT INTO ask (ask_user, ask_date, ask_state_flag, ask_delete_flag)
        VALUES (#{askUser}, now(), 0,0)
    </insert>

	<!-- 주문을 전체 조회 -->
	<select id="askAll" resultMap="askMap">		
		select * from ask
				<!-- where 태그 쓸 때는 where가 있다 생각하고 and부터 쓴다 -->
		<where>
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
		order by ask_no desc
		limit #{offset}, #{limit}
	</select>
	<!-- 주문 전체 개수 조회 -->
	<select id="count" resultType="int">
		select count(*) from ask
		<where>
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
	
	<select id="myOnedate" resultMap="askMap">
		SELECT * FROM ask WHERE ask_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 DAY ) AND NOW();
	</select>
	
	<select id="computerPost" parameterType="int" resultMap="askMap">
		select ask_user from ask left join ask_detail on ask.ask_no = ask_detail.ask_no where ask_detail.computer_no = #{computerNo} and ask.ask_state_flag = 2
	</select>
	
	<select id="peripheralPost" parameterType="int" resultMap="askMap">
		select ask_user from ask left join ask_detail on ask.ask_no = ask_detail.ask_no where ask_detail.computer_no = #{peripheralNo} and ask.ask_state_flag = 2
	</select>
	
	<insert id="computerBuy" useGeneratedKeys="true" keyProperty="askNo" parameterType="com.project.shop.progress.vo.AskVO">
		insert into ask(ask_user, ask_state_flag, ask_delete_flag) values(#{askUser}, 0, 0);
	</insert>
	
	<select id="computerBuySelect" resultMap="askMap" parameterType="com.project.shop.progress.vo.AskVO">
		select * from ask where ask_no = #{askNo}
	</select>
	
	<update id="completeComputerBuy" parameterType="com.project.shop.progress.vo.AskVO">
		update ask set ask_state_flag = 1 where ask_no = #{askNo}
	</update>
	
	<insert id="peripheralBuy" useGeneratedKeys="true" keyProperty="askNo" parameterType="com.project.shop.progress.vo.AskVO">
		insert into ask(ask_user, ask_state_flag, ask_delete_flag) values(#{askUser}, 0, 0);
	</insert>
	
	<select id="peripheralBuySelect" resultMap="askMap" parameterType="com.project.shop.progress.vo.AskVO">
		select * from ask where ask_no = #{askNo}
	</select>
	
	<update id="completePeripheralBuy" parameterType="com.project.shop.progress.vo.AskVO">
		update ask set ask_state_flag = 1 where ask_no = #{askNo}
	</update>
	
	<!-- 구매확정으로 업데이트 하는 쿼리 -->
	<update id="buyOk" parameterType="com.project.shop.progress.vo.AskVO">
		update ask set ask_state_flag = 4 where ask_no = #{askNo}
	</update>
</mapper>