<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CartMapper">
	<resultMap type="com.project.shop.progress.vo.CartVO" id="cartMap">
		<id property="cartNo" column="cart_no"/>
		<result property="cartUser" column="cart_user"/>
		<result property="computerNo" column="computer_no"/>
		<result property="peripheralNo" column="peripheral_no"/>
		<result property="optNo" column="opt_no"/>
		<result property="itemCount" column="item_count"/>
		<result property="itemCategory" column="item_category"/>
	</resultMap>
</mapper>