<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ComputerMapper">
	<resultMap type="com.project.shop.computer.vo.ComputerVO" id="computerMap">
		<id property="computerNo" column="computer_no"/>
		<result property="computerTitle" column="computer_title"/>
		<result property="computerSalePrice" column="computer_sale_price"/>
		<result property="cpu" column="cpu"/>
		<result property="ssd" column="ssd"/>
		<result property="mainBoard" column="main_board"/>
		<result property="gpu" column="gpu"/>
		<result property="power" column="power"/>
		<result property="bCase" column="b_case"/>
		<result property="ram" column="ram"/>
		<result property="cooler" column="cooler"/>
		<result property="computerStock" column="computer_stock"/>
		<result property="computerOutFlag" column="computer_out_flag"/>
		<result property="computerSaleDate" column="computer_sale_date"/>
		<result property="computerCreateDate" column="computer_create_date"/>
		<result property="keepFlag" column="keep_flag"/>
		<result property="reviewFlag" column="review_flag"/>
		<result property="buyFlag" column="buy_flag"/>
		<result property="starAvg" column="star_avg"/>
		<result property="computerFilePath" column="computer_file_path"/>
		<result property="searchNo" column="search_no"/>
		<result property="searchTitle" column="search_title"/>
		<result property="searchPrice" column="search_price"/>
		<result property="searchFlag" column="search_flag"/>
		<result property="searchFilePath" column="search_file_path"/>
		<collection property="reviews" ofType="com.project.shop.user.vo.ReviewVO">
			<id property="reviewNo" column="review_no"/>
			<result property="reviewUser" column="review_user"/>
			<result property="computerNo" column="computer_no"/>
			<result property="peripheralNo" column="peripheral_no"/>
			<result property="reviewBody" column="review_body"/>
			<result property="reviewCreateDate" column="review_create_date"/>
			<result property="itemCategory" column="item_category"/>
		</collection>
		<collection property="questions" ofType="com.project.shop.user.vo.QuestionVO">
			<id property="questionNo" column="question_no"/>
			<result property="questionUser" column="question_user"/>
			<result property="computerNo" column="computer_no"/>
			<result property="peripheralNo" column="peripheral_no"/>
			<result property="questionTitle" column="question_title"/>
			<result property="questionBody" column="question_body"/>
			<result property="questionCreateDate" column="question_create_date"/>
			<result property="questionFlag" column="question_flag"/>
			<result property="itemCategory" column="item_category"/>
		</collection>
		<collection property="answers" ofType="com.project.shop.user.vo.AnswerVO">
			<id property="questionNo" column="question_no"/>
			<result property="answerBody" column="answer_body"/>
			<result property="answerDate" column="answer_date"/>
		</collection>
		<collection property="peripherals" ofType="com.project.shop.computer.vo.PeripheralVO">
			<id property="peripheralNo" column="peripheral_no"/>
			<result property="peripheralCategory" column="peripheral_category"/>
			<result property="peripheralTitle" column="peripheral_title"/>
			<result property="peripheralName" column="peripheral_name"/>
			<result property="peripheralStock" column="peripheral_stock"/>
			<result property="peripheralSalePrice" column="peripheral_sale_price"/>
			<result property="peripheralOutFlag" column="peripheral_out_flag"/>
			<result property="peripheralSaleDate" column="peripheral_sale_date"/>
			<result property="peripheralCreateDate" column="peripheral_create_date"/>
		</collection>
		<collection property="stars" ofType="com.project.shop.user.vo.StarVO">
			<id property="starNo" column="star_no"/>
			<result property="starUser" column="star_user"/>
			<result property="computerNo" column="computer_no"/>
			<result property="peripheralNo" column="peripheral_no"/>
			<result property="starCount" column="star_count"/>
			<result property="itemCategory" column="item_category"/>
		</collection>
		<collection property="files" ofType="com.project.shop.progress.vo.FileVO">
			<id property="fileNo" column="file_no"/>
			<result property="computerNo" column="computer_no"/>
			<result property="peripheralNo" column="peripheral_no"/>
			<result property="fileName" column="file_name"/>
			<result property="filePath" column="file_path"/>
			<result property="fileSize" column="file_size"/>
			<result property="itemCategory" column="item_category"/>
		</collection>
	</resultMap>
	
	<!-- 완제품 전체 조회 -->
	<select id="computer" resultMap="computerMap">
		select * from computer
		left join file on computer.computer_no = file.computer_no
		<!-- where 태그 쓸 때는 where가 있다 생각하고 and부터 쓴다 -->
		<where>
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
		order by computer.computer_no desc
		limit #{offset}, #{limit}
	</select>
	
	<!-- 완제품 전체 개수 조회 -->
	<select id="count" resultType="int">
		select count(*) from computer
		<where>
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
	
	<!-- 완제품 단건 조회 -->
	<select id="computerPost" parameterType="hashMap" resultMap="computerMap">
		select *,
		<if test="email != null">
		(select count(keep_user) from keep where computer.computer_no = keep.computer_no and keep.keep_user = #{email}) as keep_flag,
		</if>
		(select file_path from file where file.computer_no = computer.computer_no) as computer_file_path,
		(select avg(star_count) from star where star.computer_no = #{computerNo} group by star.computer_no) as star_avg,
		(select count(review_user) from review where review.computer_no = computer.computer_no) as review_flag,
		(select count(ask_user) from ask left join ask_detail on ask.ask_no = ask_detail.ask_no where ask.ask_state_flag = 2 and computer_no = #{computerNo}) as buy_flag
		from computer 
		left join review on computer.computer_no = review.computer_no
		left join question on computer.computer_no = question.computer_no
		left join answer on question.question_no = answer.question_no
		left join star on computer.computer_no = star.computer_no
		where computer.computer_no = #{computerNo}	
	</select>
	
	<!-- 메인 페이지를 위한 완제품 조회 -->
	<select id="home" resultMap="computerMap">
		select * from computer 
		left join file on computer.computer_no = file.computer_no
		order by computer.computer_no desc limit 0, 5
	</select>
	
	<!--완제품 인서트하는 쿼리-->
	<insert id="computerInsert" parameterType="com.project.shop.computer.vo.ComputerVO" useGeneratedKeys="true"  keyProperty="computerNo" >
		insert into computer(computer_title,computer_sale_price,cpu,ssd,main_board,gpu,power,b_case,ram,cooler,computer_stock)
		values(#{computerTitle},#{computerSalePrice},#{cpu},#{ssd},#{mainBoard},#{gpu},#{power},#{bCase},#{ram},#{cooler},#{computerStock});
	</insert>
	
	<!-- 완제품 높은 가격순 조회 -->
	<select id="computerHighPrice" resultMap="computerMap">
		select * from computer
		<!-- where 태그 쓸 때는 where가 있다 생각하고 and부터 쓴다 -->
		<where>
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
		order by computer_sale_price desc, computer_no desc
		limit #{offset}, #{limit}
	</select>
	
	<!-- 완제품 낮은 가격순 조회 -->
	<select id="computerLowPrice" resultMap="computerMap">
		select * from computer
		<!-- where 태그 쓸 때는 where가 있다 생각하고 and부터 쓴다 -->
		<where>
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
		order by computer_sale_price asc, computer_no desc
		limit #{offset}, #{limit}
	</select>
	
	<select id="search" resultMap="computerMap">
		(select 
		computer_no as search_no,
		computer_title as search_title, 
		computer_sale_price as search_price,
		1 as search_flag,
		(select file_path from file where computer.computer_no = file.computer_no) as search_file_path
		from computer
		where computer_title like concat('%',#{keyword},'%'))
		union
		(select 
		peripheral_no as search_no,
		peripheral_title as search_title, 
		peripheral_sale_price as search_price, 
		2 as search_flag,
		(select file_path from file where peripheral.peripheral_no = file.peripheral_no) as search_file_path
		from peripheral
		where peripheral_title like concat('%',#{keyword},'%'))
		order by search_no desc
		limit #{offset}, #{limit}
	</select>
	
	<select id="searchCount" resultType="int">
		select 
		((select count(*)
		from computer
		where computer_title like '%제목%')+(select  count(*)
		from peripheral
		where peripheral_title like '%제목%')) as sumCount
		from computer
		group by sumCount;
	</select>
</mapper>