<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="KeepMapper">
	<resultMap type="com.project.shop.progress.vo.KeepVO" id="keepMap">
		<id property="keepNo" column="keep_no"/>
		<result property="keepUser" column="keep_user"/>
		<result property="computerNo" column="computer_no"/>
		<result property="peripheralNo" column="peripheral_no"/>
		<result property="itemCategory" column="item_category"/>
	</resultMap>
	
	<!-- 완제품 상세페이지에서 찜하기 -->
	<insert id="keepComputer" parameterType="com.project.shop.progress.vo.KeepVO">
		insert into keep(keep_user,computer_no,item_category)
					values(#{keepUser},#{computerNo},0)
	</insert>
	
	<!-- 완제품 상세페이지에서 찜하기 취소 -->
	<delete id="keepDeleteComputer" parameterType="com.project.shop.progress.vo.KeepVO">
		delete from keep where keep_user =#{keepUser} and computer_no = #{computerNo}
	</delete>
	
	<!-- 주변기기 상세페이지에서 찜하기 -->
	<insert id="keepPeripheral" parameterType="com.project.shop.progress.vo.KeepVO">
		insert into keep(keep_user,peripheral_no,item_category)
					values(#{keepUser},#{peripheralNo},1)
	</insert>
	
	<!-- 주변기기 상세페이지에서 찜하기 취소 -->
	<delete id="keepDeletePeripheral" parameterType="com.project.shop.progress.vo.KeepVO">
		delete from keep where keep_user =#{keepUser} and peripheral_no = #{peripheralNo}
	</delete>
</mapper>