<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PeripheralMapper">
	<resultMap type="com.project.shop.computer.vo.PeripheralVO" id="peripheralMap">
		<id property="peripheralNo" column="peripheral_no"/>
		<result property="peripheralCategory" column="peripheral_category"/>
		<result property="peripheralTitle" column="peripheral_title"/>
		<result property="peripheralName" column="peripheral_name"/>
		<result property="peripheralStock" column="peripheral_stock"/>
		<result property="peripheralSalePrice" column="peripheral_sale_price"/>
		<result property="peripheralOutFlag" column="peripheral_out_flag"/>
		<result property="peripheralSaleDate" column="peripheral_sale_date"/>
		<result property="peripheralCreateDate" column="peripheral_create_date"/>
		<result property="keepFlag" column="keep_flag"/>
		<collection property="reviews" ofType="com.project.shop.user.vo.ReviewVO">
			<id property="reviewNo" column="review_no"/>
			<result property="reviewUser" column="review_user"/>
			<result property="computerNo" column="computer_no"/>
			<result property="peripheralNo" column="peripheral_no"/>
			<result property="reviewBody" column="review_body"/>
			<result property="reviewCreateDate" column="review_create_date"/>
			<result property="itemCategory" column="item_category"/>
		</collection>
		<collection property="questions" ofType="com.project.shop.user.vo.QuestionVO">
			<id property="questionNo" column="question_no"/>
			<result property="questionUser" column="question_user"/>
			<result property="computerNo" column="computer_no"/>
			<result property="peripheralNo" column="peripheral_no"/>
			<result property="questionTitle" column="question_title"/>
			<result property="questionBody" column="question_body"/>
			<result property="questionCreateDate" column="question_create_date"/>
			<result property="questionFlag" column="question_flag"/>
			<result property="itemCategory" column="item_category"/>
		</collection>
		<collection property="answers" ofType="com.project.shop.user.vo.AnswerVO">
			<id property="questionNo" column="question_no"/>
			<result property="answerBody" column="answer_body"/>
			<result property="answerDate" column="answer_date"/>
		</collection>
	</resultMap>
	
	<!-- 마우스 전체 조회 -->
	<select id="mouse" resultMap="peripheralMap">
		select * from peripheral 
		<!-- where 태그 쓸 때는 where가 있다 생각하고 and부터 쓴다 -->
		<where>
			and peripheral_category = 0
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
		order by peripheral_no desc
		limit #{offset}, #{limit}
	</select>
	
	<!-- 키보드 전체 조회 -->
	<select id="keyboard" resultMap="peripheralMap">
		select * from peripheral 
		<where>
			and peripheral_category = 1
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
		order by peripheral_no desc
		limit #{offset}, #{limit}
	</select>
	
	<!-- 모니터 전체 조회 -->
	<select id="monitor" resultMap="peripheralMap">
		select * from peripheral 
		<where>
			and peripheral_category = 2
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
		order by peripheral_no desc
		limit #{offset}, #{limit}
	</select>
	
	<!-- 마우스, 키보드, 마우스 전체 개수 조회 -->
	<select id="count" resultType="int">
		select count(*) from peripheral
		<!-- where태그 이용해서 조건문 3개 걸기 -->
		<where>
			<choose>
				<when test="peripheralCategory==0">
					and peripheral_category=0
				</when>
				<when test="peripheralCategory==1">
					and peripheral_category=1
				</when>
				<when test="peripheralCategory==2">
					and peripheral_category=2
				</when>
			</choose>
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
	
	<!-- 마우스, 키보드, 모니터 단건 조회 -->
	<select id="peripheralPost" parameterType="int" resultMap="peripheralMap">
		select *,
		(select count(keep_user) from keep where peripheral.peripheral_no = keep.peripheral_no) as keep_flag 
		from peripheral 
		left join review on peripheral.peripheral_no = review.peripheral_no
		left join question on peripheral.peripheral_no = question.peripheral_no
		left join answer on question.question_no = answer.question_no
		where peripheral.peripheral_no = #{peripheralNo}
	</select>
	
	<!-- 메인 페이지 조회를 위한 주변 기기 조회 -->
	<select id="home" resultMap="peripheralMap">
		(select * from peripheral where peripheral_category = 0 order by peripheral_no desc limit 0,5)
		union
		(select * from peripheral where peripheral_category = 1 order by peripheral_no desc limit 0,5)
		union
		(select * from peripheral where peripheral_category = 2 order by peripheral_no desc limit 0,5)
	</select>
	<insert id="peripheralInsert" parameterType="com.project.shop.computer.vo.PeripheralVO"  useGeneratedKeys="true" keyProperty="peripheralNo">
		insert into peripheral(peripheral_category,peripheral_title,peripheral_sale_price,peripheral_stock,peripheral_name)
		values(#{peripheralCategory},#{peripheralTitle},#{peripheralSalePrice},#{peripheralStock},#{peripheralName});
	</insert>
</mapper>