<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QuestionMapper">
	<resultMap type="com.project.shop.user.vo.QuestionVO" id="questionMap">
		<id property="questionNo" column="question_no"/>
		<result property="questionUser" column="question_user"/>
		<result property="computerNo" column="computer_no"/>
		<result property="peripheralNo" column="peripheral_no"/>
		<result property="questionTitle" column="question_title"/>
		<result property="questionBody" column="question_body"/>
		<result property="questionCreateDate" column="question_create_date"/>
		<result property="questionFlag" column="question_flag"/>
		<result property="itemCategory" column="item_category"/>
		<collection property="users" ofType="com.project.shop.user.vo.UserVO">
			<id property="email" column="email"/>
			<result property="name" column="name"/>
			<result property="phoneNum" column="phone_num"/>
			<result property="userType" column="user_type"/>
			<result property="createDate" column="create_date"/>
			<result property="updateDate" column="update_date"/>
			<result property="deleteDate" column="delete_date"/>
			<result property="blackListDate" column="black_list_date"/>
		</collection>
	</resultMap>
	
	<!-- question 전체 조회+페이징 기능 -->
	<select id="managerQnA" resultMap="questionMap">
		select * from question
		<!-- where 태그 쓸 때는 where가 있다 생각하고 and부터 쓴다 -->
		<where>
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
		order by question_no desc
		limit #{offset}, #{limit}
	</select>
	
	<!-- 질문 전체 개수 조회 -->
	<select id="count" resultType="int">
		select count(*) from question
		<where>
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
	
	<!-- 질문 전체 개수 조회 -->
	<select id="mycount" resultType="int">
		select count(*) from question
		<where>
			and question_user = #{email}
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
	
	<!-- 완제품 상세페이지에서 문의글 쓰기 -->
	<insert id="questionComputer" parameterType="com.project.shop.user.vo.QuestionVO">
		insert into question(question_user, computer_no, question_title, question_body, item_category)
					values(#{questionUser}, #{computerNo}, #{questionTitle}, #{questionBody}, 1)
	</insert>
	
	<!-- 주변기기 상세페이지에서 문의글 쓰기 -->
	<insert id="questionPeripheral" parameterType="com.project.shop.user.vo.QuestionVO">
		insert into question(question_user, peripheral_no, question_title, question_body, item_category)
					values(#{questionUser}, #{peripheralNo}, #{questionTitle}, #{questionBody}, 2)
	</insert>
	
	<!-- question 상세페이지 조회 -->
	<select id="questionPost" parameterType="int" resultMap="questionMap">
		select * from question where question_no = #{questionNo};
	</select>
	
	<select id="myquestion" resultMap="questionMap" >
		SELECT * from question 
		<where>
			and question_user = #{email}
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
		 order by question_no desc limit #{offset}, #{limit};
	</select>
	
	
	<update id="questionUpdate" parameterType="com.project.shop.user.vo.QuestionVO">
		update question set question_flag = 2 where question_no = #{questionNo}
	</update>
</mapper>