<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewMapper">
	<resultMap type="com.project.shop.user.vo.ReviewVO" id="reviewMap">
		<id property="reviewNo" column="review_no"/>
		<result property="reviewUser" column="review_user"/>
		<result property="computerNo" column="computer_no"/>
		<result property="peripheralNo" column="peripheral_no"/>
		<result property="reviewBody" column="review_body"/>
		<result property="reviewCreateDate" column="review_create_date"/>
		<result property="itemCategory" column="item_category"/>
	</resultMap>
	
	<insert id="reviewComputer" parameterType="com.project.shop.user.vo.ReviewVO">
		insert into review(review_user, computer_no, review_body, item_category)
					values(#{reviewUser}, #{computerNo}, #{reviewBody}, 0)
	</insert>
	
	<insert id="reviewPeripheral" parameterType="com.project.shop.user.vo.ReviewVO">
		insert into review(review_user, peripheral_no, review_body, item_category)
					values(#{reviewUser}, #{peripheralNo}, #{reviewBody}, 1)
	</insert>
</mapper>