<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StarMapper">
	<resultMap type="com.project.shop.user.vo.StarVO" id="starMap">
		<id property="starNo" column="star_no"/>
		<result property="starUser" column="star_user"/>
		<result property="computerNo" column="computer_no"/>
		<result property="peripheralNo" column="peripheral_no"/>
		<result property="starCount" column="star_count"/>
		<result property="itemCategory" column="item_category"/>
	</resultMap>
	
	<insert id="starComputer" parameterType="com.project.shop.user.vo.StarVO">
		insert into star(star_user, computer_no, star_count, item_category)
					values(#{starUser}, #{computerNo}, #{starCount}, 0)
	</insert>
	
	<insert id="starPeripheral" parameterType="com.project.shop.user.vo.StarVO">
		insert into star(star_user, peripheral_no, star_count, item_category)
					values(#{starUser}, #{peripheralNo}, #{starCount}, 1)
	</insert>
</mapper>