<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StarMapper">
	<resultMap type="com.project.shop.progress.vo.StarVO" id="starMap">
		<id property="starNo" column="star_no"/>
		<result property="starUser" column="star_user"/>
		<result property="computerNo" column="computer_no"/>
		<result property="peripheralNo" column="peripheral_no"/>
		<result property="starCount" column="star_count"/>
		<result property="itemCategory" column="item_category"/>
	</resultMap>
</mapper>